
/*全局*/
* {
    box-sizing:border-box;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.head {
    text-align:center;
}
fieldset {
    padding:20px;
}
td {
    padding-left:20px;
    padding-right:20px;
}

/*homePage*/
#login {
    width:400px;
    margin:auto;
    margin-top:200px;
}


/*signup*/
.signUpField {
    width:700px;
    margin:auto;
}

/*signUpSuccess*/
.signUpSuccess {
    text-align:center;
}

/*selectSubject*/
.sel {
    width:100px;
}

.btn {
    width:150px;
}

.add {
    width:60px;
    background-color:black;
    color:white;
}
.add:hover {
    background-color:white;
    color:black;
}
/*selectSubjectState*/
.State table{
    border-right:1px gray solid;
    border-bottom:1px gray solid;
}
.State>tr {
    border-left:1px gray solid;
    border-top:1px gray solid;
}